@{
  Layout = "_Base";
}

@model HairSalon.Models.Stylist

<h2>Add Stylist</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName, new { value = "@model.FirstName" })
  @Html.LabelFor(model => model.LastName)
  @Html.TextBoxFor(model => model.LastName, new { value = "@model.LastName" })
  <button value="Save">Edit stylist</button>
}

@await Html.PartialAsync("Buttons/StylistHome")
